* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.first_header {

  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #C6212C;
  height: 367px;
}

.first_header img {
  width: 102px;
  height: 137px;
}

.first_header span {
  min-width: 100px;
  max-width: 781px;
  height: 148px;
  font-size: 40px;
  font-family: "HeliosCondC-Bold";
}

.structure_help {
  display: flex;
  flex-direction: row;
  width: 850px;
  justify-content: space-between;
}

.structure_littlespace {
  width: 26px;
}

.first_header ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  font-family: "HeliosCompressedC";
  width: 365px;
}

a {
  text-decoration: none;
  color: inherit;
}

.second_header {
  display: none;
}

.background1 {
  width: 100%;
  height: 100%
}

.background2 {
  display: none;
}

.background3 {
  display: none;
}

.background4 {
  display: none;
}

.background5 {
  display: none;
}

.about {
  margin-top: -5px;
  margin-bottom: -1px;
  padding-left:50px;
  padding-right: 50px;
  width: 100%;
  height: 2050px;
  background: linear-gradient(180deg, #921921 0%, #C6202C 61.6%);
}

.about h3 {
  font-size: 96px;
  font-family: "HeliosCondC-Bold";
}

.about p {
  font-size: 48px;
  font-family: "HeliosCondLightC";
  padding-top: 54px;
}

.about_content1 {
  color: #E0DEDE;
  width: 975px;
  padding-top: 275px;
}

.about_content1 p:first-of-type {
  padding-top: 20px;
}

.about_content2 p:first-of-type {
  padding-top: 20px;
}

.about_content2 {
  color: white;
  width: 1106px;
}

.structure_space-between2 {
  display: flex;
  justify-content: space-between;
  padding-top: 393px;
}

.background_how {
  width: 100%
}

.background_how2 {
  display: none;
}

.how_heading {
  padding-left: 50px;
  padding-right: 50px;
  color: #C6202C;
  font-family: "HeliosCondC-Bold";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 260px;
}

.how_heading h1, .how_heading h2 {
  font-size: 260px;
}

.how_heading h3 {
  font-size: 96px;
}

.how_content {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 158px;
  display: grid;
  grid: repeat(2, minmax(150px, 500px)) / repeat(3, minmax(300px, 1000px));
  grid-gap: 50px;
  text-align: center;
}

.how_content div h4 {
  font-size: 65px;
  font-family: "HeliosCondC-Bold";
  color: #C6202C;
}

.how_content div p {
  margin-top: 20 px;
  font-family: "HeliosCondLightC";
  font-size: 48px;
}

.how_content div span {
  color: #195885;
  font-family: "HeliosCondBlackC";
  font-size: 48px;
}

.vacancy_heading {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 200px;
  color: #C6202C;
  font-family: "HeliosCondBlackC";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vacancy_heading h2 {
  font-size: 260px;
}

.vacancy_heading h3 {
  font-size: 96px;
}

.vacancy_offers {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid: 1335px 1100px / repeat(2, minmax(600px, 2000px));
  grid-gap: 50px;
}

.vacancy_offers div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.offer3 {
  padding-top: 36px;
}

.offer1 img {
  width: 518px;
  height: 743px;
}

.offer2 img {
  width: 518px;
  height: 743px;
}

.offer3 img {
  width: 543px;
  height: 480px;
}

.offer4 img {
  width: 553px;
  height: 516px;
}

.vacancy_offers div h4 {
  font-size: 64px;
  font-family: "HeliosCondC-Bold";
  color: #C6202C;
  padding-top: 56px;
}

.vacancy_offers div p {
  font-size: 48px;
  font-family: "HeliosCondLightC";
  padding-top: 20px;
}

.vacancy_offers div span {
  font-size: 48px;
  font-family: "HeliosCondBlackC";
  color: #195885;
  padding-top: 20px;
}

.button {
  padding-bottom: 200px;
  margin: 0 auto;
  color: #C6202C;
  font-size: 60px;
  font-family: "HeliosCondC-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1032px;
  height: 103px;
}

.button a:hover {
  color: white;
  background-color: #C6202C;
}

@media (max-width: 1350px) {
  .vacancy_offers {
    display: grid;
    grid-template-columns: minmax(0px, 2000px);
    grid-template-rows: 1350px 1270px 1000px 1100px;
    grid-gap: 0;
  }

  .offer3 {
    padding-top: 0;
  }
  .button {
    font-size: 45px;
    padding-bottom: 80px;
  }

  .button a {
    width: 832px;
  }
}

@media (max-width: 1300px) {
  header ul {
    font-size: 18px;
  }

  .structure_help {
    width: 600px;
  }
  .structure_help span {
    font-size: 35px;
    max-width: 781px;
  }

  .background1 {
    display: none;
  }

  .background2 {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .about {
    height: 1600px;
  }

  .about h3{
    font-size: 70px;
  }

  .about p {
    font-size: 40px;
    padding-top: 25px;
  }

  .about_content1 p:first-of-type {
    padding-top: 15px;
  }

  .about_content2 {
    width: 828px;
  }

  .how_heading {
    padding-top: 200px;
  }

  .how_heading h3 {
    font-size: 80px;
  }

  .how_content {
    display: grid;
    grid: repeat(3, minmax(150px, 500px)) / repeat(2, minmax(300px, 1000px));
    grid-gap: 50px;
  }

  .vacancy_heading {
    padding-top: 40px;
  }
}

@media (max-width: 1064px) {
  .about {
    height: 1200px;
  }

  .about h3{
    font-size: 60px;
  }

  .about p {
    font-size: 30px;
    padding-top: 20px;
  }

  .about_content1 {
    padding-top: 150px;
    width: 700px;
  }

  .about_content1 p:first-of-type {
    padding-top: 10px;
  }

  .about_content2 p:first-of-type {
    padding-top: 10px;
  }

  .about_content2 {
    width: 700px;
  }

  .how_heading {
    padding-top: 160px;
  }

  .how_heading h2 {
    font-size: 200px
  }
  .how_heading h3 {
    font-size: 70px;
  }
  .structure_space-between2 {
    padding-top: 225px;
    margin: 0 auto;
  }
}

@media (max-width: 945px) {
  .about {
    height: 1150px;
  }
  .structure_space-between2 {
    padding-top: 200px;
  }
  .background2 {
    display: none;
  }

  .background3 {
    display: block;
    width: 100%;
  }

  .how_heading {
    padding-top: 120px;
  }
  .how_heading h3{
    font-size: 60px;
  }
  .how_content {
    padding-top: 120px;
    grid: 320px 360px 320px 320px 370px 320px / repeat(1, minmax(0, 1000px));
    grid-gap: 0;
  }

  .vacancy_heading {
    padding-top: 70px;
  }
  .vacancy_heading h3 {
    font-size: 80px;
  }

  .button {
    font-size: 30px;
    padding-bottom: 60px;
  }

  .button a {
    width: 624px;
    height: 63px;
  }
}

@media (max-width: 867px) {
  .vacancy_offers {
    grid-template-rows: 1450px 1270px 1020px 1000px;
  }
}

@media  (max-width: 830px) {
  .background_how {
    display: none;
  }

  .background_how2 {
    display: block;
    width: 100%;
  }

  .how_heading h2 {
    font-size: 150px;
  }
  .how_heading h3 {
    font-size: 50px;
  }

  .vacancy_heading {
    padding-top: 60px;
  }

  .vacancy_heading h3 {
    font-size: 70px;
  }
}

@media (max-width: 800px)  {
  .first_header {
    display: none;
  }

  .second_header {
    display: block;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: #C6212C;
    height: 429px;
  }

  .structure_help2 img {
    width: 102px;
    height: 137px;
  }

  .second_header span {
    min-width: 100px;
    max-width: 781px;
    height: 148px;
    font-size: 40px;
    font-family: "HeliosCondC-Bold";
    line-height: 90%;
    margin-top: 18px;
  }

  .structure_help2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .second_header ul {
    width: 508px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
    font-family: "HeliosCompressedC";
  }

  .about, .how_heading, .how_content, .how_heading, .vacancy_heading, .vacancy_offers {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about {
    height: 950px;
  }

  .structure_space-between2 {
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .about_content1 {
    width: 100%;
    max-width: 500px;
    padding-top: 120px;
  }

  .about h3 {
    font-size: 50px;
  }

  .about p {
    font-size: 25px;
  }

  .about_content1 p:first-of-type {
    padding-top: 7px;
  }

  .about_content2 p:first-of-type {
    padding-top: 7px;
  }

  .how_heading h3 {
    font-size: 45px;
  }

  .button {
    font-size: 25px;
    padding-bottom: 60px;
  }

  .button a {
    width: 500px;
  }
}

@media (max-width: 700px) {
  .structure_help2 {
    flex-direction: column-reverse;
  }

  .structure_help2 ul {
    width: 100%;
    font-size: 40px;
    height: 54px;
  }

  .how_heading {
    padding-top: 100px;
  }

  .how_heading h2 {
    font-size: 135px;
  }

  .how_content {
    padding-top: 135px;
  }
}

@media (max-width: 676px) {
  .how_content {
    grid-template-rows: 320px 420px 320px 320px 370px 320px;
  }

  .vacancy_heading h3 {
    font-size: 55px;
  }
}

@media (max-width: 672px) {
  .vacancy_offers {
    grid-template-rows: 1460px 1270px 1070px 1150px;
  }
}

@media (max-width: 668px) {
  .how_content {
      grid-template-rows: 320px 420px 320px 320px 420px 320px;
  }
}

@media (max-width: 663px) {
  .how_content {
      grid-template-rows: 320px 420px 400px 320px 420px 320px;
  }
}

@media (max-width: 638px) {
  .how_content {
    grid-template-rows: 320px 420px 450px 390px 420px 320px;
  }

@media (max-width: 627px) {
  .vacancy_offers {
    grid-template-rows: 1500px 1270px 1070px 1150px;
  }
}

@media (max-width: 627px) {
  .second_header {
    height: 100%;
    text-align: center;
    padding-bottom: 100px;
  }

  .second_header span{
    font-size: 50px;
  }

  .structure_help2 {
    justify-content: space-between;
    align-items: center;
    height: 600px;
  }

  .structure_help2 ul {
    font-size: 30px;
  }

  .structure_help2 img {
    width: 347px;
    height: 466px;
  }

  .background3 {
    display: none;
  }

  .background4 {
    display: block;
    width: 100%
  }
  .how_heading h2 {
    font-size: 110px;
  }
  .how_heading h3 {
    font-size: 34px;
  }

  .how_content {
    padding-top: 100px;
  }

  .vacancy_heading {
    padding-top: 30px;
  }
}
@media  (max-width: 600px) {
  .how_content {
    grid-template-rows: 320px 420px 450px 390px 420px 320px;
  }

  .vacancy_offers {
    grid-template-rows: 1140px 990px 800px 900px;
  }

  .offer1 img {
    width: 400px;
    height: 575px;
  }

  .offer2 img {
    width: 400px;
    height: 572px;
  }

  .offer3 img {
    width: 400px;
    height: 354px;
  }

  .offer4 img {
    width: 400px;
    height: 374px;
  }

  .vacancy_offers div h4 {
    font-size: 50px;
  }

  .vacancy_offers div p {
    font-size: 40px;
  }

  .vacancy_offers div span {
    font-size: 40px;
  }
}

@media (max-width: 571px) {
  .about {
    height: 1150px;
  }

  .how_content {
    grid-template-rows: 280px 370px 360px 330px 370px 260px;
  }

  .how_content div h4 {
    font-size: 50px;
  }

  .how_content div p {
    font-size: 45px;
  }

  .how_content div span {
    font-size: 45px;
  }

  .vacancy_heading h4 {
    font-size: 30px;
  }

  .vacancy_offers {
    grid-template-rows: 1140px 990px 850px 840px;;
  }

  .button {
    font-size: 23px;
    padding-bottom: 40px;
  }

  .button a {
    width: 456px;
    height: 45px;
  }
}

@media (max-width: 549px) {
  .vacancy_heading h3 {
    font-size: 50px;
  }
}

@media  (max-width: 536px) {
  .vacancy_offers {
    grid-template-rows: 1200px 990px 900px 840px;
  }
}

@media (max-width: 500px) {
  .structure_help2 ul{
    font-size: 25px;
  }

  .how_heading h1 {
    font-size: 168px;
  }

  .how_heading h2 {
    font-size: 69px
  }

  .how_heading h3 {
    font-size: 34px;
    text-align: center;
  }

  .how_content {
    grid-template-rows: 212px 276px 250px 250px 286px 246px;
  }

  .how_content div h4 {
    font-size: 40px;
  }

  .how_content div p {
    font-size: 35px;
  }

  .how_content div span {
    font-size: 35px;
  }

  .vacancy_heading h2 {
    font-size: 168px;
  }

  .vacancy_heading h3 {
    font-size: 34px;
    text-align: center;
  }

  .vacancy_offers {
    grid-template-rows: 964px 827px 697px 760px;
  }

  .offer1 img {
    width: 324px;
    height: 465px;
  }

  .offer2 img {
    width: 324px;
    height: 462px;
  }

  .offer3 img {
    width: 324px;
    height: 290px;
  }

  .offer4 img {
    width: 324px;
    height: 302px;
  }

  .vacancy_offers div h4 {
    font-size: 40px;
    padding-top: 14px;
  }

  .vacancy_offers div p {
    font-size: 30px;
  }

  .vacancy_offers div span {
    font-size: 30px;
  }

  .button {
    font-size: 25px;
    padding-bottom: 40px;
    text-align: center;
  }

  .button a {
    width: 294px;
    height: 77px;
  }
}

@media (max-width: 440px) {
  .second_header, .about, .how_heading, how_content, vacancy_heading, .vacancy_content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .second_header {
    padding-top: 20px;
  }

  .second_header ul {
    font-size: 20px;
  }

  .second_header img {
    width: 257px;
    height: 346px;
  }

  .second_header span {
    font-size: 35px;
  }

  .structure_help2 {
    height: 458px;
  }

  .background4 {
    display: none;
  }

  .background5 {
    display: block;
    width: 100%
  }

  .about {
    height: 1364px;
  }

  .how_content {
    padding-top: 50px;
  }

  .how_content {
    grid-template-rows: 158px 208px 163px 188px 223px 246px;
  }

  .how_content div h4 {
    font-size: 30px;
  }

  .how_content div p {
    font-size: 25px;
  }

  .how_content div span {
    font-size: 25px;
  }

  .vacancy_offers {
    grid-template-rows: 730px 635px 519px 549px;
  }

  .vacancy_offers div h4 {
    padding-top: 14px;
  }

  .vacancy_offers div p, .vacancy_offers div span{
    padding-top: 9px
  }

  .offer1 img {
    width: 236px;
    height: 339px;
  }

  .offer2 img {
    width: 236px;
    height: 338px;
  }

  .offer3 img {
    width: 236px;
    height: 208px;
  }

  .offer4 img {
    width: 236px;
    height: 220px;
  }

  .vacancy_offers div h4 {
    font-size: 30px;
  }

  .vacancy_offers div p {
    font-size: 20px;
  }

  .vacancy_offers div span {
    font-size: 20px;
  }
}

@media (min-width: 1980px) {
  .structure_help2 ul {
    font-size: 40px;
  }
}
