body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'HeliosC';
  color: white;
}
img {
    width: 100%;
  }

.background {
  position: relative;
  width: 100%;
  z-index: 0
}

.first_layer {
  position: absolute;
  top: 0;
  z-index: 1;
}

.second_layer {
  position: absolute;
  top: 0;
  z-index: 2;
}

.third_layer {
  position: absolute;
  top: 4727px;
  z-index: 3;
}

.fourth_layer {
  position: absolute;
  top: 650px;
  z-index: 4;
}

.white_logo {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 4;
  height: 161px;
  width: 121.23px;
}

.red_logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  height: 161px;
  width: 121.23px;
}

.content {
  position: absolute;
  top: 0;
}
.content h1 {
  font-size: 50px;
  line-height: 120%;
  position: absolute;
  left: 795px;
  top: 1863px;
  width: 582px;
  height: 186px;
}

.content p {
  position: absolute;
  line-height: 120%;
  top: 2425px;
  left: 63px;
  font-size: 50px;
  width: 1215px;
  height: 738px
}
.content h2:first-of-type {
  position: absolute;
  line-height: 120%;
  top: 3600px;
  left: 63px;
  font-size: 100px;
  width: 660px;
  height: 250px;
}
.content h2:last-of-type {
  position: absolute;
  line-height: 120%;
  top: 4700px;
  left: 220px;
  font-size: 100px;
  width: 1185px;
  height: 382px;
  text-align: right;
}

.content h3:first-of-type {
  position: absolute;
  line-height: 120%;
  top: 3800px;
  left: 860px;
  font-size: 80px;
  width: 520px;
  height: 304px;
  text-align: right;
}

.content .second_of_type {
  position: absolute;
  line-height: 120%;
  top: 4350px;
  left: 63px;
  font-size: 80px;
  width: 430px;
  height: 320px;
}

.content .third_of_type {
  position: absolute;
  line-height: 120%;
  top: 5700px;
  left: 874px;
  font-size: 80px;
  width: 500px;
  height: 320px;
  text-align: right;
}

.content h3:last-of-type {
  position: absolute;
  line-height: 120%;
  top: 6640px;
  left: 63px;
  font-size: 80px;
  width: 500px;
  height: 325px;
}

.content .button a {
  position: absolute;
  left: 1045px;
  top: 7050px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
  transition: all .2s ease-in-out;
  color: #fff;
  border: 4px #C6212C solid;
  border-radius: 40px;
  font-size: 1.7rem;
}

.content .button a:hover {
  background-color: #C6212C;
}
